<%= form_for(@bom_output) do |f| %>
  <% if @bom_output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bom_output.errors.count, "error") %> prohibited this bom_output from being saved:</h2>

      <ul>
      <% @bom_output.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>  
    <%= collection_select(:bom_output, :item_id, Item.all, :id, :name)%>    
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.text_field :qty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
